* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c5c5c5;
}

.wrapper {
  width: 420px;
  height: 420px;
}

#game-board {
  position: relative;
  margin-top: 50px;
  top: 0;
  z-index: 2;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#game-board::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 30px;
  background: #202020;
  top: 120px;
  border-radius: 10px;
  box-shadow: 0 150px #202020;
}

#game-board::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 420px;
  background: #202020;
  left: 120px;
  border-radius: 10px;
  box-shadow: 150px 0px #202020;
}

.cell {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  max-height: 120px;
}

.mark {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  user-select: none;
}

.x {
  font-size: 8rem;
}

.o {
  font-size: 7rem;
}
